<!DOCTYPE html>
<html lang="lan" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8"/>
  <title>This is Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
  <div class="text-center">
  		  <h1>Smart Contract Manager</h1>
  		  <p>
  		     Start Collecting Your Details in Very Smart Way.We Provide Provide 
  		     Very Efficient Way Of Handling Contacts.
  		  </p>
  		  <button class="btn bg-primary btn-lg text-white">Get Started</button>
  </div>

</section>

</body>